body {
	font-family: 'Work Sans', sans-serif;
	background-image: "https://i.ibb.co/BVy8Qwt/bluebb.jpg"
}

.title {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	color: rgb(201, 196, 196);
}
.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
  color: #495057;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
}

#profileContainer {
	color: white;
}

/* #contact-name {
	color: white;
} */

#allInput {
	color: white;
}

